.dd1 {
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.dd2 {
    background-image: linear-gradient(-120deg,blue,red,blue,red);
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 8px lightgray;
    display: flex;
    flex-direction: column;
    
}

.fff1 {
    background-color: gray;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fff2 {
    margin-top: 16px;
}

.hh1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    font-size: 30px;
}

.hh2 {
    text-align: center;
    padding-top: 10px;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.hh3 {
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 300px;
    padding-top: 30px;
}

.hh4 {
    color: rgb(219, 215, 215);
    padding-left: 12px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.hh5 {
    color: rgb(219, 215, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 18px;
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  
